* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    /* color: white; */
    margin: 0;
    padding: 0;
}

#welcome {
    height: 925px;
    background-image: url(../imgs/welcome.png)
}

#welcome .info {
    /* display: inline; */
    margin: 0 100;
    color: white;
}

.info-item {

    display: inline-flex;
    padding: 10;
    margin-left: 20px;
    margin: auto;

}

.info-item .p {
    margin: auto;
}

.social {
    display: inline;
    margin-right: 100;
}

.social-item {
    display: inline-flex;
    padding: 10;
    margin-right: 20px;
    margin: auto;
}

#menu ul {
    list-style-type: none;
    text-align: right;
    margin-right: 50;
}

#menu li {
    color: #f1f1f1;
    display: inline-block;
    margin-right: 15;
    text-decoration: none;
    /* width: 50px; */
    height: 40px;

}

#menu ul li a:hover {
    text-decoration: under-line;
    color: red
}

a {
    color: white;
    text-decoration: none;
}

.wel-content {
    margin-top: 270px;
    text-align: center;
    color: white;
}

.wel-content .wel {
    font-size: 80px;
}

.wel-content .deltail {
    margin-top: 40px;
    font-size: 20px;
}

.wel-button {
    margin-top: 50px;
}

.wel-button button {
    height: 40px;
    width: 100px;
    border: 1cm;
    font-size: 15px;
    background-color: #FF6666;
    color: white;

}

button a {
    text-decoration: none;
}

#introduce {
    height: 350px;
    padding: 150px 50px 0 50px;
    display: inline-block;
}

#introduce .info {
    width: 50%;
    display: block;
    float: left;

}

.info .info-text {
    color: black;
}

.info-text .who p {
    font-size: 35px;
    margin-bottom: 20px;
}

.info-video {
    display: block;
    float: right;
    margin-right: 100px;
}

.info-video video {
    /* height: 300px;
    width: 300px; */
}

.info-button {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.info-button button {
    height: 40px;
    width: 100px;
    border: 1cm;
    font-size: 15px;
    background-color: #FF6666;
    color: white;
}

#history {
    height: 600px;
    background-image: url(../imgs/historyBackground.jpg);
    background-repeat: no-repeat;
}

.title p {
    padding-top: 70px;
    font-size: 25px;
    /* color: chocolate; */
    text-align: center;
}

#history .title {
    color: black;
}

#history .title hr {
    width: 150px;
    margin: auto;
    size: 10px;
    color: #FF6666;
    margin-top: 20px;
}

.history-content {
    margin-top: 50px;
}

.history-img {
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 200px;
}

.history-img img {
    width: 300px;
    height: 300px;
}

.timeline {
    /* margin: 20px auto; */
    max-width: 600;
    float: right;

}

.checkpoint {
    max-width: 550px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.checkpoint h2 {
    color: red;
}

.checkpoint p {
    line-height: 27px;
    color: white;
}

#service {
    height: 500px;
}

#service .title {
    color: black
}

.service-text {
    padding: 30px;
}

.service-text p {
    font-size: 25px;
    color: chocolate;
    text-align: center;
}

#service .title hr {
    width: 150px;
    margin: auto;
    size: 10px;
    color: #FF6666;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-box {
    display: flex;
    text-align: center;
    margin: auto;
}

.sbox1 {
    height: 300px;
    width: 25%;
    /* border: 2px solid red; */
    float: left;
    margin: 0 5%;
    background-color: #DDDDDD;

    /* margin-left: 50px; */
}

.sbox2 {
    height: 300px;
    width: 25%;
    /* border: 2px solid red; */
    margin: 0 5%;
    float: left;
    background-color: #FF6666;
    color: white;
    /* margin-left:100; */
}

.sbox3 {
    height: 300px;
    width: 25%;
    /* border: 2px solid red; */
    margin: 0 5%;
    float: left;
    background-color: #DDDDDD;

    /* margin: ; */
}

.sbox1 i,
.sbox2 i,
.sbox3 i {
    margin-top: 20%;
}

.sbox1 p,
.sbox2 p,
.sbox3 p {
    margin-top: 5%;
}

#provice {
    background-image: url(../imgs/provice-background.jpg);
    height: 500px;
}

.prov-img {
    width: 50%;
    height: 100%;
    background-image: url(../imgs/prov-img.jpg);
    float: left;
}

.prov-content {
    float: right;
    color: white;
}

.prov-content .what {
    margin-top: 70px;
    font-size: 30px;
}

.prov-content .wprovice {
    max-width: 550px;
    /* max-height: 50px; */
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;

}

.prov-content .wprovice .prov-icon {
    float: left;
    /* height: 100px; */
    font-size: 25px;
    margin-right: 5%;
}

#work {
    height: 700px;
    /* border: 2px solid red; */
}

.work-text {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

.work-text hr {
    width: 15%;
    margin: auto;
    margin-top: 15px;
    size: 10px;
    color: #FF6666;
}

.work-menu {
    text-align: center;
    margin-top: 25px;
}

.work-menu ul {
    list-style-type: none;
}

.work-menu li {
    color: black;
    display: inline-block;
    margin-right: 15;
    text-decoration: none;
    /* width: 50px; */
    height: 40px;

}

.work-menu ul li a:hover {
    text-decoration: under-line;
    color: red
}

.work-menu li a {
    color: black;
}

.work-select table {
    margin: auto;
    margin-top: 15px;
}

.work-select table td {
    width: 300;
    height: 250px;
    /* border: 2px solid blue; */
    padding: 5px;
}

.work-select table td img {
    width: 300;
    height: 250px;
}

.work-select table tr td:hover {
    border: #FF6666;
}

#skill {
    background-image: url(../imgs/skill-background.jpg);
    height: 350px;
    color: white;
    padding: 100px;
}

.skill-text {
    width: 50%;
    float: left;
    margin-left: 100px;
}

.skill-img {
    max-width: 50%;
    float: left;
}

.skill-img img {
    /* height: 350px; */
    width: 400px;
}

.skill-text .title p {
    font-size: 25px;
}

.skill-text .title hr {
    width: 30%;
    margin: 15px 0;
    background-color: red;
    color: red;
}

.skill-detail {
    margin-top: 20px;
}

.container {
    width: 90%;
    background-color: #ddd;
    margin-bottom: 25px;
}

.skills {
    text-align: right;
    padding-right: 10px;
    line-height: 10px;
    color: white;
}

.Design {
    width: 90%;
    background-color: #f44336;
}

.Development {
    width: 95%;
    background-color: #f44336;
}

.Photography {
    width: 85%;
    background-color: #f44336;
}

.Strategy {
    width: 85%;
    background-color: #f44336;
}

#team {
    height: 500px;
}

#team .title hr {
    width: 150px;
    margin: auto;
    size: 10px;
    color: #FF6666;
    margin-top: 20px;
}

#achievement {
    background-image: url(../imgs/achievement-background.jpg);
    height: 200px;
    /* background-repeat: no-repeat; */

}

.achievement {
    width: 10%;
    color: white;
}

#achievement table {
    margin: auto;
    height: 200px;
    max-width: 90%;
    margin-top: 15px;
}

.achievement .icon {
    float: left;
    /* display: inline; */
}

.achievement .ac-text {
    float: left;
}

#pricing {
    height: 500px;
}

#pricing .title hr {
    width: 15%;
    margin: auto;
    margin-top: 15px;
}

.pricing-select .price {
    height: 100px;
    background-color: gray;
    text-align: center;
    margin-top: 0;
}

.pricing-select .price2 {
    background-color: #FF6666;


}

.pricing-detail {
    color: black;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}

ul {
    list-style: none;
}

.pricing-detail button {
    margin: 20px 0;
    width: 40%;
    height: 35px;
    background-color: gray;
    color: #ddd;
    border: 0px;
}

.pricing-detail2 button {
    background-color: #FF6666;

}

.pricing-select {
    display: flex;
    justify-content: space-between;
    margin: 20 150;
}

.item {
    width: 25%;
    /* hoặc bất kỳ giá trị nào phù hợp */
    height: 10%;
    border: 1px solid gray;
}

#quote {
    /* height: 500px; */
    /* border: 1px solid red; */
    background-image: url(../imgs/quote-backround.jpg);
    color: white;
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quote {
    margin-top: 70px;
    font-size: 35;
    color: red;

}

#quote .text {
    padding: 0 100;
}

#quote .author {
    margin-top: 25px;
    font-size: 12px;
}

.get-quote {
    margin-top: 20px;
    background-color: #FF6666;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.get-quote .text {
    width: 45%
}

.get-quote .button {
    width: 45%
}

.get-quote .button button {
    height: 40px;
    width: 120px;
    background-color: white;
    color: black;
    border: 0px;
}

#news .title hr {
    /* height: 450px; */
    width: 15%;
    margin: auto;
    margin-top: 15px;
}

#news .item {
    height: 70%;
    background-color: #C0C0C0;
}

#news .item p {
    color: white;
}

#news .item2 p {
    color: black;
}

#news .item .news {
    font-size: 20px;
}

#news .item .date {
    color: red;
}

#news .item2 {
    height: 70%;
    background-image: url(../imgs/prov-img.jpg);
}

#news .item .pricing-detail {
    margin-top: 20px;
}

#news .item .pricing-detail p {
    margin-top: 20px;
}

#logo {
    display: flex;
    justify-content: space-between;
    background-image: url(../imgs/achievement-background.jpg);
    height: 120px;
    padding: 50 100;
}

#logo .logo {
    width: 18%;
    /* height: 100px; */
}

#logo .logo img {
    width: 70%;
    /* height: 100px; */
}

#contact {

    padding: 50px 150px;
    height: 500px;
}

#contact {
    display: inline-block;
    justify-content: space-between;

}

#contact .c-info {
    float: left;
    width: 450px;
    /* border: 1px solid blue; */
    height: 300px;
    position: relative;
}

#contact button {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 120px;
    background-color: #FF6666;
    color: white;
    border: 0px;
}

#contact .c-info p {
    margin-top: 10px;
}

#contact .touch {
    font-size: 25px;
}

#contact .touch hr {
    width: 30%;
    margin-top: 15px;
}

#contact .form {
    float: left;
    width: 450px;
    /* border: 1px solid blue; */
    height: 300px;
    position: relative;
}

#contact .form input,
#contact .form textarea {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ccc;
}

#contact hr {
    margin-top: 100px;
}

.web-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.w-item .info-name {
    font-size: 25px;
}

.w-item .info-about {
    font-size: 20px;
}

.w-item p {
    margin-bottom: 5px;
}

.w-item {
    width: 30%;
    /* border: 1px solid red; */
    display: block;
}
