#contact {

    padding: 50px 150px;
    height: 500px;
    display: block;
}



#contact .c-info {
    float: left;
    width: 450px;
    /* border: 1px solid blue; */
    height: 300px;
    position: relative;
}

.contact button {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 120px;
    background-color: #FF6666;
    color: white;
    border: 0px;
}

#contact .c-info p {
    margin-top: 10px;
}

#contact .touch {
    font-size: 25px;
}

#contact .touch hr {
    width: 30%;
    margin-top: 15px;
}

#contact .form {
    float: left;
    width: 450px;
    /* border: 1px solid blue; */
    height: 300px;
    position: relative;
}

#contact .form input,
#contact .form textarea {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ccc;
}
